# Data.gov.sg API Key
# Get your API key from: https://data.gov.sg/developer
DATA_GOV_SG_API_KEY=v2:d4486921473331a54862b112175e3375587a0533d066d20ae121169ace8b1a4c:gJ6p3jrASWlEtA7ipBLBc480WtuwWInB

# URA API Key (optional - if you have one)
# Get your API key from: https://www.ura.gov.sg/Corporate/Get-Involved/Subscribe-to-URA-Data-Service
URA_API_KEY=your-ura-api-key-here

